@charset "utf-8";

#container {
    width: 630px; /*width=630-30*2=570*/
}
#main div.pic {
	float:left;
	padding:2px;
	border: 4px solid #ddd;
	width:248px; /*260-12*/
	text-align:center;
}
#main div.pic img {
	/*width:100%;*/ /*248+12=260*/
	height:228px; /*228+12=240*/
}
#main div.text {
	float:right;
	padding:5px 50px 5px 30px;
	width:210px; /*570-260-50-30-20=210*/
 	height:230px; /*240-10*/
	background-color:#efe5e9;
}
#main div.text p {
	font-style:italic;
	color:#744c21;	
}
#main div.text p span {
	font-style:normal;
	font-size:130%;
}